/*Importing fonts from Google Fonts.*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Work+Sans:ital@1&display=swap');

/*asteriks targets all elements as it's a wildcard selector. 
removes default style settings.*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*General Styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family:'Lato', sans-serif;
}
/*header styling*/
header {
  background-color: #FFFFFF ;
  padding: 0 1rem;
  position: fixed;
  width:100%;
  box-shadow: 0 2px 5px #3a3a3a;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 99;
}
header a{
    text-decoration: none;
    color:inherit;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li{
    margin-bottom:1em;
}
.active{
    border-bottom: 1px solid #3a3a3a ;
}
h1{
    font-family: 'Osawld', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#252525;
}

/*.navbar styles with dropdown toggle*/
nav{
    position: absolute;
    background-color: #FFFFFF;
    width:100%;
    left:0;
    padding:0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top:100%;
}
/*nav toggle for mobile view*/
#nav-toggle:checked ~ nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}
/*main styling*/
main {
  background-color: lightblue;
  flex: 1 0 auto;
  margin-top: 40px; /* To prevent content from being hidden behind the fixed header */
}
/*footer styling*/
footer {
  background-color: orange;
}
